<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="task-form">
    <h2 class="title">
      {{ isEdit ? 'Edit Task' : 'Create Task' }}
    </h2>

    <!-- TITLE -->
    <div class="form-group">
      <label>Title</label>
      <input formControlName="title" placeholder="Enter task title" class="input" />

      @if (form.get('title')?.invalid && form.get('title')?.touched) {
        <small class="error"> Title is required (max 100 chars) </small>
      }
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label>Description</label>
      <textarea
        formControlName="description"
        placeholder="Enter description"
        class="textarea"
      ></textarea>
    </div>

    <!-- STATUS -->
    @if (isEdit) {
      <div class="form-group">
        <label>Status</label>
        <select formControlName="status" class="select">
          <option [ngValue]="0">Todo</option>
          <option [ngValue]="1">InProgress</option>
          <option [ngValue]="2">Done</option>
        </select>
      </div>
    }

    <!-- BUTTON -->
    <button type="submit" class="btn">
      {{ isEdit ? 'Update Task' : 'Create Task' }}
    </button>
  </form>
</div>
